@import "tailwindcss";

html, body {
  scroll-behavior: smooth;
  overflow: hidden; /* Запрещает прокрутку всего сайта */
}
.react-calendar {
  border: none !important;
  box-shadow: none !important;
}